<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Contact</title>

</head>

<body>
  <h2>Contact me</h2>
  {{#if isError}}
  <div class="isError">
    <span>
      You can't leave empty!</span>
  </div>
  {{/if}}
    {{#if fileError}}
    <span>
      Only .png, .jpg, .jpeg, or .gif files are allowed!
    </span>
  {{/if}}
  
  {{#if isSent}}
  <div class="isSent">
    <span>
      The message has been sent! File {{ fileName }} has been send!
    </span>
  </div>
  {{/if}}
  <form action="/contact/send-message" method="POST" enctype="multipart/form-data">
    <label>
      Your name: <input type="text" name="author">
    </label>
    <label>
      Your email: <input type="email" name="sender">
    </label>
    <label>
      Title: <input type="text" name="title">
    </label>
    <label>
      File:
      <input type="file" name="file" accept="image/png, image/gif, image/jpeg, image/jpg">
    </label>
    <label>
      Message: <textarea name="message"></textarea>
    </label>
    <button type="submit">Send message</button>
  </form>
  
</body>

</html>